In [ ]:
# Import SQLContext
from pyspark.sql import SQLContext

# Pass in the SparkContext object `sc`
sqlCtx = SQLContext(sc)

# Read JSON data into DataFrame object `df`
df = sqlCtx.read.json("census_2010.json")

# Print the type
print(type(df))


sqlCtx = SQLContext(sc)
df = sqlCtx.read.json("census_2010.json")
df.printSchema()

df.show(5)


first_five = df.head(5)
for i in first_five:
    print (i.age)
    
    
df[['age']].show()

df[['age','males','females']].show()

fifty_plus = df[df['age'] > 5]
fifty_plus.show()

df[df['males']>df['females']].show()



pandas_df = df.toPandas()

pandas_df['total'].hist(bins = 20)
print(pandas_df['total'])

import matplotlib.pyplot as plt
%matplotlib inline

plt.bar(pandas_df.age,pandas_df.total)







from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)
df = sqlCtx.read.json("census_2010.json")
df.registerTempTable('census2010')
tables = sqlCtx.tableNames()
print(tables)

sqlCtx.sql('select age from census2010').show()

query = 'select males, females from census2010 where (age < 15 and age > 5)'
sqlCtx.sql(query).show()


query = 'select males,females from census2010'
sqlCtx.sql(query).describe().show()



from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)
df = sqlCtx.read.json("census_2010.json")
df.registerTempTable('census2010')
df_2000 = sqlCtx.read.json("census_2000.json")
df_1990 = sqlCtx.read.json("census_1990.json")
df_1980 = sqlCtx.read.json("census_1980.json")

df_2000.registerTempTable('census2000')
df_1990.registerTempTable('census1990')
df_1980.registerTempTable('census1980')
tables = sqlCtx.tableNames()
print(tables)



query = 'select census2010.total, census2000.total from census2010 inner join census2000 on census2010.age = census2000.age'
sqlCtx.sql(query).show()



query = """
 select sum(census2010.total), sum(census2000.total), sum(census1990.total)
 from census2010
 inner join census2000
 on census2010.age=census2000.age
 inner join census1990
 on census2010.age=census1990.age
"""
sqlCtx.sql(query).show()