Connect to the database jobs2.db, which contains the same data as jobs.db.
Write and execute a query that returns all of the major names (Major) in reverse alphabetical order (Z to A).
Assign the full result set to reverse_alphabetical.
Finally, close the connection to the database.

In [ ]:
import sqlite3
conn = sqlite3.connect('jobs2.db')
query = 'select Major from recent_grads order by Major desc;'
reverse_alphabetical = conn.execute(query).fetchall()
conn.close()

In [1]:


If you're in the same folder as factbook.db, and you type sqlite3 factbook.db on the command line, 
you'll open the Factbook database in the SQLite Command Shell. This enables you to manage the database 
and run SQL queries.


Instructions
Use the SQLite Command Shell to explore factbook.db.

Type .help into the shell to see a list of commands you can run in the shell.
Type .tables to see a list of the tables in the database.
If you type .header on, you'll see the column headers when you run queries.
When you're done with the Command Shell, you can type .quit to quit. Don't do it just yet, 
though, because you'll be using it in the next step.


Next Previous

SyntaxError: invalid syntax (<ipython-input-1-82bfa735fcd6>, line 1)

In [3]:
You can read the results of a SQL query into a Pandas Dataframe using the read_sql_query function, 
which is documented here. The read_sql_query function takes a SQL query string and a connection object,
and returns a Dataframe containing all the rows and columns from the query.

When Pandas reads in columns this way, it sets the type of the column to be the type of the column in the 
database. Some columns, like area_land, which had blank entries in the database, will have NaN values in a 
DataFrame, corresponding to "Not a Number". This is because Pandas can't have blanks in numeric columns, and 
uses NaN as a way to signify an invalid or missing value.

See this Pandas documentation on how to work with missing data. The best way to deal with it for now is to 
just use the dropna method, with the axis=0 argument, which will drop any rows that have NaN values in them.


Instructions
Read the facts table into Pandas, and then compute the projected population for each country in 2050. Here
are the rough steps:

Create a script called growth.py.
Read facts into a Pandas Dataframe using read_sql_query.
Filter out any rows with invalid data, such as the area_land column being 0.
Write a function that takes in the initial population and the growth rate of a country, and outputs the 
final population. The annual population growth (expressed as a percentage) for each country is in the 
population_growth column. The initial population is in the population column.
The formula for compound annual population growth is N=N0e(rt)N=N0e(rt), where NN is 
the final population, N0N0 is the initial population, ee is a constant value you can 
access with math.e, rr is the rate of annual change, expressed as a decimal (so 1.5 percent should be .015),
and tt is the number of years to calculate for. Assume that you'll be starting in January 2015, 
and you'll be ending in January 2050, or 35 years.
Let's say you have a country with 5000 people, and a 4 percent annual growth rate. The formula 
would look like N=5000∗e(.04∗35)N=5000∗e(.04∗35).
Use the apply method on Pandas Dataframes to compute the population in 2050 for each row in the data.
Use the Dataframe sort method to sort on the 2050 population in descending order.
Print the 10 countries that will have the highest projected populations in 2050.

9

In [ ]:
import pandas as pd
import query
import math

conn = query.conn
q = 'select * from facts'

df = pd.read_sql_query(q,conn)
df = df.dropna(axis = 0)
#print (df.info())

def final_pop(row):
    N = row['population']*math.e**(0.35*row['population_growth'])
    return N
    
df['2050'] = df.apply(final_pop, axis = 1)
df = df.sort(columns = '2050',ascending = False)

print(df.head(10))




'''
You can compute totals of a column using the the SUM function in SQL queries. 
For example, you can select the total population with:

SELECT SUM(population) from facts;
You can also add a WHERE clause:

SELECT SUM(population) from facts WHERE area_land != "";

Instructions
Use SQL and Python to compute the ratio of how much land area countries 
claim as their territory versus how much water area they claim. Here are the rough steps:

Make a script called area.py.
Query to get the total of the area_land column.
Query to get the total of the area_water column`.
Divide area_land by area_water, and print the result.

Next Previous

'''


import sqlite3
import pandas as pd

conn = sqlite3.connect('factbook.db')
query = 'select sum(area_land), sum(area_water) from facts'

df = pd.read_sql_query(query, conn)
df.columns = (['land','water'])
df['ratio'] = df['land']/df['water']

print(df.head())